/*estilos para version desktop*/

//imports
@import "../utilidades/variables";
@import "../utilidades/mixin";

@media screen and (min-width:992px) {

    /*estilos del header de mi sitio web*/
    header {
        nav {
            div {
                a {
                    img {
                        width: 160px;
                        height: 105px;
                    }
                }

                div {
                    ul {
                        li {
                            .font-nav {
                                font-weight: 600;
                                font-size: 1rem;

                                &:hover {
                                    color: $color-txt1;
                                    border-bottom: 2px solid $color-principal;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    /*estilos del titulo principal de las secciones*/
    main {
        .cont-secc {
            @include padding-desktop;

            .titulo-secc {
                font-size: 1.9rem;
            }
        }
    }

    /*estilos del main del Home*/

    main{
        .titulos-home{
            height: 95vh;

            .h1-home{
                font-size: 5.2rem;
            }

            .h2-home{
                font-size: 1.8rem;
            }
        }

        .frase-home{
            margin-left: 10rem;
            margin-right: 10rem;
            gap: 0.6rem;
            margin-top: 3rem;
            margin-bottom: 3.5rem;

            .p-home{
                font-size: 1rem;
            }
        }

    }


    /*estilos del main de la Seccion Nosotros*/
    main {
        .main-nosotros1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            justify-items: center;
            align-items: start;
            column-gap: 0rem;
            row-gap: 1.5rem;
            margin-left: 4.5rem;
            margin-right: 2.5rem;
            margin-top: 4rem;
            margin-bottom: 4rem;

            .cont-h2-p-nos {
                grid-column: 1 / 2;
                grid-row: 1 / span 3;
                gap: 1.5rem;
                padding-right: 2rem;

                .h2-nosotros {
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                }

            }

            .cont-img1-nos {
                grid-column: 2 / 3;
                grid-row: 1 / 2;

                .img-nosotros{
                    @include img(90%, 90%);
                }
            }

            .cont-img2-nos{
                grid-column: 2 / 3;
                grid-row: 2 / 3;

                .img-nosotros{
                    @include img(90%, 90%);
                }
            }
        }

        .main-nosotros2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            justify-items: center;
            align-items: start;
            column-gap: 0rem;
            row-gap: 0rem;
            margin-top: 4.5rem;
            margin-left: 4.5rem;
            margin-right: 2.5rem;
            margin-bottom: 5rem;

            .cont-h2-p-nos{
                grid-column: 1 / 2;
                gap: 1.5rem;
                padding-right: 2rem;

                .h2-nosotros{
                    font-size: 1.5rem;
                }

                .nombre-chef{
                    font-size: 1.4rem;
                    padding-bottom: 1rem;
                }

            }

            .cont-img3-nos{
                grid-column: 2 / 3;

                .img-nosotros{
                    @include img(90%, 90%);
                }
            }

            
        }

    }

    /*estilos del main de la Seccion Menu*/

    main {
        .subtitulo-menu {
            margin-top: 3rem;
            margin-bottom: 3rem;
            .h2-menu{
                font-size: 1.5rem;
            }
        }

        .cont-menu {
            margin-top: 3rem;
            margin-bottom: 4rem;
            gap: 4rem;
            margin-left: 10rem;
            margin-right: 10rem;
            
            .cont-menu2{
                gap: 1.5rem;
                .h2-menu2{
                    font-size: 1.4rem;
                }

                .lista-menu{
                    gap: 1.5rem;
                    .item-lista-menu{
                        .nombre-plato{
                            font-size: 1.1rem;
                        }

                        .descrip-plato{
                            font-size: 1.1rem;
                        }

                    }

                }
            }

        }    

        .galeria-menu {
            margin-bottom: 5rem;
            margin-left: 10rem;
            margin-right: 10rem;
        }
    }

    /*estilos del main de la Seccion Reservas*/

    main {
        .subtitulos-reservas {
            margin-top: 3rem;
            margin-bottom: 3rem;

            .h2-reservas {
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
        }

        .formulario-reserva {
            fieldset {
                gap: 1rem;

                .input-reserva1 {
                    .nombre-reserva {
                        margin-left: 10rem;
                        padding: 0.6rem;

                        &:focus {
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);

                        }
                    }
                }

                .input-reserva2 {
                    .apellido-reserva {
                        margin-right: 10rem;
                        padding: 0.6rem;

                        &:focus {
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);

                        }
                    }
                }

                .input-reserva3 {
                    .telefono-reserva {
                        margin-left: 10rem;
                        padding: 0.6rem;

                        &:focus {
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);

                        }
                    }
                }

                .input-reserva4 {
                    .email-reserva {
                        margin-right: 10rem;
                        padding: 0.6rem;

                        &:focus {
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);

                        }
                    }
                }

                .input-reserva5 {
                    .comensales-reserva {
                        margin-left: 10rem;
                        padding: 0.6rem;

                        &:focus {
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);

                        }
                    }
                }

                .input-reserva6{
                    .fecha-reserva{
                        padding: 0.6rem;

                        &:focus {
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    
                        }
                    }

                }

                .input-reserva7 {
                    .horario-reserva {
                        margin-right: 10rem;
                        padding: 0.6rem;

                        &:focus {
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);

                        }
                    }
                }

                .input-reserva8 {
                    .mensaje-reserva {
                        margin-left: 10rem;
                        margin-right: 10rem;
                        padding: 0.6rem;

                        &:focus {
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);

                        }
                    }
                }

                .input-reserva-reset {
                    .boton-reserva1 {
                        padding: 0.6rem;

                        &:hover{
                            background-color: transparent;
                            color: $color-boton;
                        }

                        &:active{
                            background-color: transparent;
                            color: $color-boton;
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            border-width: 2px;

                        }
                    }
                }

                .input-reserva-submit{
                    .boton-reserva2{
                        padding: 0.6rem;

                        &:hover{
                            background-color: transparent;
                            color: $color-boton;
                        }

                        &:active{
                            background-color: transparent;
                            color: $color-boton;
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            border-width: 2px;
                        }

                    }

                }
            }
        }

        .condiciones-reserva {
            margin-top: 4rem;
            margin-bottom: 4rem;
            margin-left: 9rem;
            margin-right: 10rem;
            gap: 1rem;          

            .condicion1{
                margin-right: 1rem;
            }
    
            .condicion2{
                margin-right: 1rem;
            }
    
            .condicion3{
                margin-right: 1rem;
            } 
        }

        .h2-p-reserva {
            margin-bottom: 4rem;
            margin-left: 10rem;
            margin-right: 10rem;

            .h2-telefono{
                font-size: 1.5rem;
            }

            .p-telefono{
                font-size: 1.1rem;
            }
        }
    }

    /*estilos del main de la Seccion Contacto*/
    main{
        .subtitulos-contacto{
            margin-top: 3rem;
            margin-bottom: 3rem;

            .h2-contacto{
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
        }

        .formulario-contacto{
            fieldset{
                gap: 1rem;

                .input-contacto1{
                    .input-nombre{
                        margin-left: 10rem;
                        padding: 0.6rem;

                        &:focus{
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                        }
                    }
                }

                .input-contacto2{
                    .input-apellido{
                        margin-right: 10rem;
                        padding: 0.6rem;

                        &:focus{
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                        }
                    }
                }

                .input-contacto3{
                    .input-telefono{
                        margin-left: 10rem;
                        padding: 0.6rem;

                        &:focus{
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                        }
                        
                    }
                }

                .input-contacto4{
                    .input-email{
                        margin-right: 10rem;
                        padding: 0.6rem;

                        &:focus{
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                        }
                    }
                }

                .input-contacto5{
                    .input-asunto{
                        margin-left: 10rem;
                        margin-right: 10rem;
                        padding: 0.6rem;

                        &:focus{
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                        }
                    }
                }

                .input-contacto6{
                    .input-mensaje{
                        margin-left: 10rem;
                        margin-right: 10rem;
                        padding: 0.6rem;

                        &:focus{
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                        }
                    }
                }

                .input-contacto-reset{
                    .boton-contacto1{
                        padding: 0.6rem;

                        &:hover{
                            background-color: transparent;
                            color: #b47e1e;
                        }

                        &:active{
                            background-color: transparent;
                            color: #b47e1e;
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            border-width: 2px;
                        }
                    }
                }

                .input-contacto-submit{
                    .boton-contacto2{
                        padding: 0.6rem;

                        &:hover{
                            background-color: transparent;
                            color: #b47e1e;
                        }

                        &:active{
                            background-color: transparent;
                            color: #b47e1e;
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
                            border-width: 2px;
                        }

                    }
                }

            }
        }

        .sections-contacto{
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            row-gap: 0rem;
            margin-top: 5rem;
            margin-bottom: 5rem;

            div{
                .h2-contacto{
                    font-size: 1.4rem;
                }

            }

            .ubicacion-contacto{
                gap: 1rem;
                .icono-ubicacion{
                    font-size: 2rem;        
                }

                .p-ubicacion-contacto{
                    gap: 0.4rem;
                }

            }

            .horarios-contacto{
                gap: 1rem;
                .icono-horarios{
                    font-size: 2rem;
                }

                .p-horarios-contacto{
                    gap: 0.4rem;
                }
            }

            .telefono-contacto{
                gap: 1rem;
                grid-column: 3 / 4;
                grid-row: 1 / 2;

                .icono-telefono{
                    font-size: 2rem;
                }
            }

            .email-contacto{
                gap: 1rem;
                grid-column: 4 / 5;
                grid-row: 1 / 2;

                .icono-email{
                    font-size: 2rem;
                }
            }


        }

        .mapa-contacto{
            margin-bottom: 4rem;
        }

    }


    /*estilos del footer de mi sitio web*/

    footer {
        .sections-footer {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            padding-top: 1.5rem;
            row-gap: 0rem;

            .ubicacion-footer {
                gap: 1rem;

                .h3-footer {
                    font-size: 1rem;
                }

                .p-ubicacion {
                    .p-secc-footer {
                        font-size: 0.9rem;
                    }
                }
            }

            .contacto-footer {
                gap: 1rem;

                .h3-footer {
                    font-size: 1rem;
                }

                .p-contacto {
                    .p-secc-footer {
                        font-size: 0.9rem;
                    }
                }
            }

            .redes-footer {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                gap: 1rem;

                .h3-footer {
                    font-size: 1rem;
                }

                .iconos-redes {
                    a {
                        .icono-red1 {
                            font-size: 1.8rem;

                            &:hover {
                                transform: scale(1.1);
                                transition: transform 0.5s;
                            }
                        }

                        .icono-red2 {
                            font-size: 1.8rem;

                            &:hover {
                                transform: scale(1.1);
                                transition: transform 1s ease;

                            }
                        }
                    }
                }
            }

            .newsletter-footer {
                grid-column: 4 / 5;
                grid-row: 1 / 2;
                gap: 1rem;

                .h3-footer {
                    font-size: 1rem;
                }

                form {
                    fieldset {
                        .input-newsletter {
                            .input-newsletter2 {
                                width: 80%;
                                font-size: 0.9rem;

                                &:focus {
                                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
                                    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
                                    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);

                                }
                            }
                        }

                        .boton-newsletter {
                            .boton-newsletter2 {
                                font-size: 0.83rem;
                                padding: 0.3rem;

                                &:hover {
                                    background-color: $color-p-footer;
                                    color: #434656;
                                }

                                &:active {
                                    background-color: $color-p-footer;
                                    color: #434656;
                                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
                                    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
                                    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
                                }
                            }
                        }
                    }
                }
            }

        }

        .boton-arriba-footer {
            display: block;
            position: relative;

            a {
                position: absolute;
                top: 1.5rem;
                left: 95%;

                .icono-boton-arriba {
                    color: #dee0e5;
                    font-size: 1.2rem;
                }
            }


        }

        .derechos-footer {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .p-footer {
                font-size: 0.9rem;
            }
        }

    }

}