/*estilos para version tablet vertical*/

@import "../utilidades/variables";
@import "../utilidades/mixin";

@media screen and (min-width:576px) {

    /*estilos del header de mi sitio web*/
    header{
        nav{
            div{
                div{
                    ul{
                        li{
                            .font-nav{
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
    }

    /*estilos del titulo principal de las secciones*/
    main {
        .cont-secc {
            .titulo-secc {
                font-size: 1.4rem;
            }
        }
    }

    /*estilos del main de la Seccion Menu*/

    main{
        .subtitulo-menu{
            .h2-menu{
                font-size: 1.3rem;
            }
        }

        .cont-menu{
            margin-top: 2.5rem;
            margin-bottom: 3.5rem;
            gap: 3.5rem;
            margin-left: 5rem;
            margin-right: 5rem;

            .cont-menu2{
                gap: 1rem;
                .h2-menu2{
                    font-size: 1.3rem;
                }

                .lista-menu{
                    gap: 1.3rem;
                    .item-lista-menu{
                        gap: 0.8rem;

                        .nombre-plato{
                            font-size: 1rem;
                        }

                        .descrip-plato{
                            font-size: 1rem;
                        }
                    }
                }

            }

        }

        .galeria-menu{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-template-areas: 
            "entrada1 entrada2 sopa1"
            "principal1 principal2 guarnicion1"
            "guarnicion2 postre1 postre2";
            justify-items: center;
            align-items: center;
            gap: 0rem;
            margin-left: 5rem;
            margin-right: 5rem;
            margin-bottom: 4rem;

            .entrada1{
                grid-area: entrada1;
            }

            .entrada2{
                grid-area: entrada2;
                display: block;
                
            }

            .sopa1{
                grid-area: sopa1;
            }

            .principal1{
                grid-area: principal1;
            }

            .principal2{
                grid-area: principal2;
                display: block;
            }

            .guarnicion1{
                grid-area: guarnicion1;
            }

            .guarnicion2{
                grid-area: guarnicion2;
                display: block;
            }

            .postre1{
                grid-area: postre1;
            }

            .postre2{
                grid-area: postre2;
                display: block;
            }

        }

    }


    /*estilos del main de la Seccion Reservas*/

    main{
        .subtitulos-reservas{
            .h2-reservas{
                font-size: 1.3rem;
            }

            .p-reservas{
                font-size: 0.9rem;
            }
        }

        .formulario-reserva{
            fieldset{
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(5, auto);
                grid-template-areas: 
                "nombre nombre nombre apellido apellido apellido"
                "telefono telefono telefono email email email"
                "comensal comensal fecha fecha horario horario"
                "mensaje mensaje mensaje mensaje mensaje mensaje"
                ". . reset submit . .";
                justify-items: center;
                align-items: center;
                
                .input-reserva1{
                    grid-area: nombre;
                    .nombre-reserva{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva2{
                    grid-area: apellido;
                    .apellido-reserva{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva3{
                    grid-area: telefono;
                    .telefono-reserva{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva4{
                    grid-area: email;
                    .email-reserva{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva5{
                    grid-area: comensal;
                    .comensales-reserva{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva6{
                    grid-area: fecha;
                    .fecha-reserva{
                        width: 100%;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva7{
                    grid-area: horario;
                    .horario-reserva{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva8{
                    grid-area: mensaje;
                    .mensaje-reserva{
                        width: 100%;
                        margin-left: 2rem;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva-reset{
                    grid-area: reset;
                    .boton-reserva1{
                        font-size: 0.9rem;
                        padding: 0.5rem;
                    }      
                }

                .input-reserva-submit{
                    grid-area: submit;
                    .boton-reserva2{
                        font-size: 0.9rem;
                        padding: 0.5rem;
                    }
                }
    
            }
        }

        .condiciones-reserva{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            justify-items: start;
            align-items: start;
            margin-left: 1.2rem;
            margin-right: 2rem;

            .condicion1{
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                margin-right: 0.8rem;
                font-size: 0.9rem;
            }

            .condicion2{
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                margin-right: 0.8rem;
                font-size: 0.9rem;
            }

            .condicion3{
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                margin-right: 0.8rem;
                font-size: 0.9rem;
            }

            .condicion4{
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                font-size: 0.9rem;
            }

            .condicion5{
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                font-size: 0.9rem;
            }
        }

        .h2-p-reserva{
            margin-left: 2rem;
            margin-right: 2rem;

            .h2-telefono{
                font-size: 1.3rem;
            }

            .p-telefono{
                font-size: 1rem;
            }
        }
    }

    /*estilos del main de la Seccion Contacto*/

    main{
        .subtitulos-contacto{
            .h2-contacto{
                font-size: 1.3rem;
            }

            .p-contacto{
                font-size: 0.9rem;
            }
        }

        .formulario-contacto{
            fieldset{
                grid-template-rows: repeat(5, auto);
                grid-template-areas:
                "nombre apellido"
                "telefono email"
                "asunto asunto"
                "mensaje mensaje"
                "reset submit";
                
                .input-contacto1{
                    grid-area: nombre;
                    .input-nombre{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto2{
                    grid-area: apellido;
                    .input-apellido{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto3{
                    grid-area: telefono;
                    .input-telefono{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto4{
                    grid-area: email;
                    .input-email{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto5{
                    grid-area: asunto;
                    .input-asunto{
                        width: 100%;
                        margin-left: 2rem;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto6{
                    grid-area: mensaje;
                    .input-mensaje{
                        width: 100%;
                        margin-left: 2rem;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto-reset{
                    grid-area: reset;
                    .boton-contacto1{
                        font-size: 0.9rem;
                        padding: 0.5rem;
                    }
                }

                .input-contacto-submit{
                    grid-area: submit;
                    .boton-contacto2{
                        font-size: 0.9rem;
                        padding: 0.5rem;
                    }
                }

            }
        }

        .sections-contacto{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            justify-items: center;
            align-items: baseline;
            row-gap: 3rem;
            column-gap: 0rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            div{
                .h2-contacto{
                    font-size: 1.3rem;
                }

                div{
                    .p-contacto{
                        font-size: 0.9rem;
                    }
                }
            }

            .ubicacion-contacto{
                grid-column: 1 / 2;
                grid-row: 1 / 2;

                .icono-ubicacion{
                    font-size: 1.9rem;        
                }

            }

            .horarios-contacto{
                grid-column: 2 / 3;
                grid-row: 1 / 2;

                .icono-horarios{
                    font-size: 1.9rem;
                }
            }

            .telefono-contacto{
                grid-column: 1 / 2;
                grid-row: 2 / 3;

                .icono-telefono{
                    font-size: 1.9rem;
                }
            }

            .email-contacto{
                grid-column: 2 / 3;
                grid-row: 2 / 3;

                .icono-email{
                    font-size: 1.9rem;
                }
            }

        }

    }


    /*estilos del footer de mi sitio web*/

    footer {
        .sections-footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            justify-items: center;
            align-items: baseline;
            row-gap: 2.5rem;
            column-gap: 0rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            .ubicacion-footer {
                display: block;
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                @include flex3;

                .h3-footer {
                    @include h3-footer;
                    font-size: 1rem;
                }

                .p-ubicacion {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    .p-secc-footer {
                        @include p-secc-footer;
                    }
                }
            }

            .contacto-footer {
                display: block;
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                @include flex3;

                .h3-footer {
                    @include h3-footer;
                    font-size: 1rem;
                }

                .p-contacto {
                    @include flex2;

                    .p-secc-footer {
                        @include p-secc-footer;
                    }
                }
            }

            .redes-footer{
                grid-column: 1 / 2;
                grid-row: 2 / 3;

                .h3-footer{
                    font-size: 1rem;
                }
            }

            .newsletter-footer {
                grid-column: 2 / 3;
                grid-row: 2 / 3;

                .h3-footer{
                    font-size: 1rem;
                }

                form{
                    fieldset{
                        .input-newsletter{
                            .input-newsletter2{
                                width: 58%;
                            }
                        }
                    }
                }
            }

        }

    }

}