/*estilos para version tablet vertical*/

@import "../utilidades/variables";
@import "../utilidades/mixin";

@media screen and (min-width:576px) {

    /*estilos del header de mi sitio web*/
    header{
        nav{
            div{
                div{
                    ul{
                        li{
                            .font-nav{
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
    }

    /*estilos del titulo principal de las secciones*/
    main {
        .cont-secc {
            .titulo-secc {
                font-size: 1.4rem;
            }
        }
    }

    /*estilos del main de la Seccion Reservas*/

    main{
        .subtitulos-reservas{
            .h2-reservas{
                font-size: 1.3rem;
            }

            .p-reservas{
                font-size: 0.9rem;
            }
        }

        .formulario-reserva{
            fieldset{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(5, auto);
                grid-template-areas: 
                "nombre nombre nombre apellido apellido apellido"
                "telefono telefono telefono email email email"
                "comensal comensal fecha fecha horario horario"
                "mensaje mensaje mensaje mensaje mensaje mensaje"
                ". . boton boton . .";
                justify-items: center;
                align-items: center;
                
                .input-reserva1{
                    grid-area: nombre;
                    .nombre-reserva{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva2{
                    grid-area: apellido;
                    .apellido-reserva{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva3{
                    grid-area: telefono;
                    .telefono-reserva{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva4{
                    grid-area: email;
                    .email-reserva{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva5{
                    grid-area: comensal;
                    .comensales-reserva{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva6{
                    grid-area: fecha;
                    .fecha-reserva{
                        width: 100%;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva7{
                    grid-area: horario;
                    .horario-reserva{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-reserva8{
                    grid-area: mensaje;
                    .mensaje-reserva{
                        width: 100%;
                        margin-left: 2rem;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }
    
                .input-boton-reserva{
                    grid-area: boton;
                    .boton-reserva1{
                        font-size: 0.9rem;
                        padding: 0.5rem;
                    }
    
                    .boton-reserva2{
                        font-size: 0.9rem;
                        padding: 0.5rem;
                    }        
                }
    
            }
        }

        .condiciones-reserva{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            justify-items: start;
            align-items: start;
            margin-left: 1.2rem;
            margin-right: 2rem;

            .condicion1{
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                margin-right: 0.8rem;
                font-size: 0.9rem;
            }

            .condicion2{
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                margin-right: 0.8rem;
                font-size: 0.9rem;
            }

            .condicion3{
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                margin-right: 0.8rem;
                font-size: 0.9rem;
            }

            .condicion4{
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                font-size: 0.9rem;
            }

            .condicion5{
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                font-size: 0.9rem;
            }
        }

        .h2-p-reserva{
            margin-left: 2rem;
            margin-right: 2rem;

            .h2-telefono{
                font-size: 1.3rem;
            }

            .p-telefono{
                font-size: 1rem;
            }
        }
    }

    /*estilos del main de la Seccion Contacto*/

    main{
        .subtitulos-contacto{
            .h2-contacto{
                font-size: 1.3rem;
            }

            .p-contacto{
                font-size: 0.9rem;
            }
        }

        .formulario-contacto{
            fieldset{
                grid-template-rows: repeat(5, auto);
                grid-template-areas:
                "nombre apellido"
                "telefono email"
                "asunto asunto"
                "mensaje mensaje"
                "reset submit";
                
                .input-contacto1{
                    grid-area: nombre;
                    .inpunt-nombre{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto2{
                    grid-area: apellido;
                    .inpunt-apellido{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto3{
                    grid-area: telefono;
                    .inpunt-telefono{
                        width: 100%;
                        margin-left: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto4{
                    grid-area: email;
                    .inpunt-email{
                        width: 100%;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto5{
                    grid-area: asunto;
                    .inpunt-asunto{
                        width: 100%;
                        margin-left: 2rem;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto6{
                    grid-area: mensaje;
                    .inpunt-mensaje{
                        width: 100%;
                        margin-left: 2rem;
                        margin-right: 2rem;
                        font-size: 0.9rem;
                    }
                }

                .input-contacto-reset{
                    grid-area: reset;
                    .boton-contacto1{

                    }
                }

                .input-contacto-submit{
                    grid-area: submit;
                    .boton-contacto2{
                        
                    }
                }


            }
        }



    }


    /*estilos del footer de mi sitio web*/

    footer {
        .sections-footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            justify-items: center;
            align-items: baseline;
            row-gap: 2.5rem;
            column-gap: 0rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            .ubicacion-footer {
                display: block;
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                @include flex3;

                .h3-footer {
                    @include h3-footer;
                    font-size: 1rem;
                }

                .p-ubicacion {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    .p-secc-footer {
                        @include p-secc-footer;
                    }
                }
            }

            .contacto-footer {
                display: block;
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                @include flex3;

                .h3-footer {
                    @include h3-footer;
                    font-size: 1rem;
                }

                .p-contacto {
                    @include flex2;

                    .p-secc-footer {
                        @include p-secc-footer;
                    }
                }
            }

            .redes-footer{
                grid-column: 1 / 2;
                grid-row: 2 / 3;

                .h3-footer{
                    font-size: 1rem;
                }
            }

            .newsletter-footer {
                grid-column: 2 / 3;
                grid-row: 2 / 3;

                .h3-footer{
                    font-size: 1rem;
                }

                form{
                    fieldset{
                        .input-newsletter{
                            .input-newsletter2{
                                width: 58%;
                            }
                        }
                    }
                }
            }

        }

    }

}