/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos del header de mi sitio web - version mobile*/
header nav div a img {
  width: 144px;
  height: 95px; }

header nav div .menu-hamburguesa:focus {
  box-shadow: none; }

header nav div div ul li .font-nav {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 0.8rem;
  color: #151515; }

/*estilos del titulo principal de las secciones - version mobile*/
main .cont-secc {
  background-color: #12223D;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .cont-secc .titulo-secc {
    margin-bottom: 0;
    color: whitesmoke;
    font-size: 1.3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600; }

/*estilos del main de la Seccion Nosotros - version mobile*/
footer .sections-footer .ubicacion-footer, footer .sections-footer .contacto-footer, footer .boton-arriba-footer {
  display: none; }

main .formulario-reserva fieldset .input-reserva1, main .formulario-reserva fieldset .input-reserva2, main .formulario-reserva fieldset .input-reserva3, main .formulario-reserva fieldset .input-reserva4, main .formulario-reserva fieldset .input-reserva5, main .formulario-reserva fieldset .input-reserva6, main .formulario-reserva fieldset .input-reserva7, main .formulario-reserva fieldset .input-reserva8, main .formulario-contacto fieldset .input-contacto1, main .formulario-contacto fieldset .input-contacto2, main .formulario-contacto fieldset .input-contacto3, main .formulario-contacto fieldset .input-contacto4, main .formulario-contacto fieldset .input-contacto5, main .formulario-contacto fieldset .input-contacto6, footer .sections-footer .redes-footer .iconos-redes, footer .sections-footer .redes-footer .iconos-redes a, footer .sections-footer .newsletter-footer form fieldset .input-newsletter, footer .sections-footer .newsletter-footer form fieldset .boton-newsletter {
  display: flex;
  justify-content: center;
  align-items: center; }

main .sections-contacto .ubicacion-contacto, main .sections-contacto .horarios-contacto, main .sections-contacto .telefono-contacto, main .sections-contacto .email-contacto, footer .sections-footer .redes-footer, footer .sections-footer .newsletter-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem; }

main .main-nosotros .cont-h2-p-nos .h2-secc, main .cont-menu .cont-menu2 .h2-secc {
  margin-bottom: 0;
  color: #151515;
  font-size: 1rem;
  font-weight: bold; }

footer .sections-footer .redes-footer .h3-footer, footer .sections-footer .newsletter-footer .h3-footer {
  font-size: 0.9rem;
  color: #dee0e5;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif; }

main .formulario-reserva fieldset .input-reserva1 .nombre-reserva, main .formulario-reserva fieldset .input-reserva2 .apellido-reserva, main .formulario-reserva fieldset .input-reserva3 .telefono-reserva, main .formulario-reserva fieldset .input-reserva4 .email-reserva, main .formulario-reserva fieldset .input-reserva5 .comensales-reserva, main .formulario-reserva fieldset .input-reserva6 .fecha-reserva, main .formulario-reserva fieldset .input-reserva7 .horario-reserva, main .formulario-reserva fieldset .input-reserva8 .mensaje-reserva, main .formulario-contacto fieldset .input-contacto1 .input-nombre, main .formulario-contacto fieldset .input-contacto2 .input-apellido, main .formulario-contacto fieldset .input-contacto3 .input-telefono, main .formulario-contacto fieldset .input-contacto4 .input-email, main .formulario-contacto fieldset .input-contacto5 .input-asunto, main .formulario-contacto fieldset .input-contacto6 .input-mensaje {
  font-size: 0.8rem;
  border: 1px solid #c8ccd5;
  background-color: whitesmoke;
  border-radius: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  color: #212324;
  outline: none;
  padding: 0.4rem; }

main .main-nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 1.1rem;
  margin-bottom: 1.6rem; }
  main .main-nosotros .cont-h2-p-nos {
    grid-row: 1 / 2;
    gap: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .main-nosotros .cont-h2-p-nos .h2-secc-nos {
      margin-top: 1.1rem;
      padding-top: 0.5rem;
      padding-bottom: 1rem; }
    main .main-nosotros .cont-h2-p-nos .p-nosotros {
      font-size: 0.9rem;
      text-align: justify;
      margin-bottom: 0; }
  main .main-nosotros .cont-img1-nos {
    grid-row: 2 / 3;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .main-nosotros .cont-img1-nos .img-nosotros {
      width: 100%;
      height: 100%; }
  main .main-nosotros .cont-img2-nos {
    grid-row: 3 / 4;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .main-nosotros .cont-img2-nos .img-nosotros {
      width: 100%;
      height: 100%; }

/*estilos del main de la Seccion Menu - version mobile*/
footer .sections-footer .ubicacion-footer, footer .sections-footer .contacto-footer, footer .boton-arriba-footer {
  display: none; }

main .formulario-reserva fieldset .input-reserva1, main .formulario-reserva fieldset .input-reserva2, main .formulario-reserva fieldset .input-reserva3, main .formulario-reserva fieldset .input-reserva4, main .formulario-reserva fieldset .input-reserva5, main .formulario-reserva fieldset .input-reserva6, main .formulario-reserva fieldset .input-reserva7, main .formulario-reserva fieldset .input-reserva8, main .formulario-contacto fieldset .input-contacto1, main .formulario-contacto fieldset .input-contacto2, main .formulario-contacto fieldset .input-contacto3, main .formulario-contacto fieldset .input-contacto4, main .formulario-contacto fieldset .input-contacto5, main .formulario-contacto fieldset .input-contacto6, footer .sections-footer .redes-footer .iconos-redes, footer .sections-footer .redes-footer .iconos-redes a, footer .sections-footer .newsletter-footer form fieldset .input-newsletter, footer .sections-footer .newsletter-footer form fieldset .boton-newsletter {
  display: flex;
  justify-content: center;
  align-items: center; }

main .sections-contacto .ubicacion-contacto, main .sections-contacto .horarios-contacto, main .sections-contacto .telefono-contacto, main .sections-contacto .email-contacto, footer .sections-footer .redes-footer, footer .sections-footer .newsletter-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem; }

main .main-nosotros .cont-h2-p-nos .h2-secc, main .cont-menu .cont-menu2 .h2-secc {
  margin-bottom: 0;
  color: #151515;
  font-size: 1rem;
  font-weight: bold; }

footer .sections-footer .redes-footer .h3-footer, footer .sections-footer .newsletter-footer .h3-footer {
  font-size: 0.9rem;
  color: #dee0e5;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif; }

main .formulario-reserva fieldset .input-reserva1 .nombre-reserva, main .formulario-reserva fieldset .input-reserva2 .apellido-reserva, main .formulario-reserva fieldset .input-reserva3 .telefono-reserva, main .formulario-reserva fieldset .input-reserva4 .email-reserva, main .formulario-reserva fieldset .input-reserva5 .comensales-reserva, main .formulario-reserva fieldset .input-reserva6 .fecha-reserva, main .formulario-reserva fieldset .input-reserva7 .horario-reserva, main .formulario-reserva fieldset .input-reserva8 .mensaje-reserva, main .formulario-contacto fieldset .input-contacto1 .input-nombre, main .formulario-contacto fieldset .input-contacto2 .input-apellido, main .formulario-contacto fieldset .input-contacto3 .input-telefono, main .formulario-contacto fieldset .input-contacto4 .input-email, main .formulario-contacto fieldset .input-contacto5 .input-asunto, main .formulario-contacto fieldset .input-contacto6 .input-mensaje {
  font-size: 0.8rem;
  border: 1px solid #c8ccd5;
  background-color: whitesmoke;
  border-radius: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  color: #212324;
  outline: none;
  padding: 0.4rem; }

main .cont-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem; }
  main .cont-menu .cont-menu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem; }
    main .cont-menu .cont-menu2 .lista-menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0;
      padding-left: 0; }
      main .cont-menu .cont-menu2 .lista-menu .item-lista-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main .cont-menu .cont-menu2 .lista-menu .item-lista-menu .nombre-plato {
          font-weight: 600;
          margin-bottom: 0;
          padding: 0.5rem;
          color: black; }
        main .cont-menu .cont-menu2 .lista-menu .item-lista-menu .descrip-plato {
          font-style: oblique;
          color: black;
          margin-bottom: 0; }
  main .cont-menu .cont-h2-menu {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem; }

main .galeria-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 1rem; }
  main .galeria-menu .img-menu {
    width: 100%;
    height: 100%; }

/*estilos del main de la Seccion Reservas - version mobile*/
footer .sections-footer .ubicacion-footer, footer .sections-footer .contacto-footer, footer .boton-arriba-footer {
  display: none; }

main .formulario-reserva fieldset .input-reserva1, main .formulario-reserva fieldset .input-reserva2, main .formulario-reserva fieldset .input-reserva3, main .formulario-reserva fieldset .input-reserva4, main .formulario-reserva fieldset .input-reserva5, main .formulario-reserva fieldset .input-reserva6, main .formulario-reserva fieldset .input-reserva7, main .formulario-reserva fieldset .input-reserva8, main .formulario-contacto fieldset .input-contacto1, main .formulario-contacto fieldset .input-contacto2, main .formulario-contacto fieldset .input-contacto3, main .formulario-contacto fieldset .input-contacto4, main .formulario-contacto fieldset .input-contacto5, main .formulario-contacto fieldset .input-contacto6, footer .sections-footer .redes-footer .iconos-redes, footer .sections-footer .redes-footer .iconos-redes a, footer .sections-footer .newsletter-footer form fieldset .input-newsletter, footer .sections-footer .newsletter-footer form fieldset .boton-newsletter {
  display: flex;
  justify-content: center;
  align-items: center; }

main .sections-contacto .ubicacion-contacto, main .sections-contacto .horarios-contacto, main .sections-contacto .telefono-contacto, main .sections-contacto .email-contacto, footer .sections-footer .redes-footer, footer .sections-footer .newsletter-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem; }

main .main-nosotros .cont-h2-p-nos .h2-secc, main .cont-menu .cont-menu2 .h2-secc {
  margin-bottom: 0;
  color: #151515;
  font-size: 1rem;
  font-weight: bold; }

footer .sections-footer .redes-footer .h3-footer, footer .sections-footer .newsletter-footer .h3-footer {
  font-size: 0.9rem;
  color: #dee0e5;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif; }

main .formulario-reserva fieldset .input-reserva1 .nombre-reserva, main .formulario-reserva fieldset .input-reserva2 .apellido-reserva, main .formulario-reserva fieldset .input-reserva3 .telefono-reserva, main .formulario-reserva fieldset .input-reserva4 .email-reserva, main .formulario-reserva fieldset .input-reserva5 .comensales-reserva, main .formulario-reserva fieldset .input-reserva6 .fecha-reserva, main .formulario-reserva fieldset .input-reserva7 .horario-reserva, main .formulario-reserva fieldset .input-reserva8 .mensaje-reserva, main .formulario-contacto fieldset .input-contacto1 .input-nombre, main .formulario-contacto fieldset .input-contacto2 .input-apellido, main .formulario-contacto fieldset .input-contacto3 .input-telefono, main .formulario-contacto fieldset .input-contacto4 .input-email, main .formulario-contacto fieldset .input-contacto5 .input-asunto, main .formulario-contacto fieldset .input-contacto6 .input-mensaje {
  font-size: 0.8rem;
  border: 1px solid #c8ccd5;
  background-color: whitesmoke;
  border-radius: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  color: #212324;
  outline: none;
  padding: 0.4rem; }

main .subtitulos-reservas {
  text-align: center;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }
  main .subtitulos-reservas .h2-reservas {
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    color: #151515;
    margin-bottom: 0rem;
    padding-bottom: 0.8rem; }
  main .subtitulos-reservas .p-reservas {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #212324;
    margin-bottom: 0rem; }

main .formulario-reserva {
  width: 100%; }
  main .formulario-reserva fieldset {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "nombre nombre" "apellido apellido" "telefono telefono" "email email" "comensal comensal" "fecha fecha" "horario horario" "mensaje mensaje" "reset submit";
    justify-items: center;
    align-items: center;
    gap: 0.8rem; }
    main .formulario-reserva fieldset legend {
      display: none; }
    main .formulario-reserva fieldset div label {
      display: none; }
    main .formulario-reserva fieldset .input-reserva1 {
      grid-area: nombre;
      width: 100%; }
      main .formulario-reserva fieldset .input-reserva1 .nombre-reserva {
        width: 95%; }
    main .formulario-reserva fieldset .input-reserva2 {
      grid-area: apellido;
      width: 100%; }
      main .formulario-reserva fieldset .input-reserva2 .apellido-reserva {
        width: 95%; }
    main .formulario-reserva fieldset .input-reserva3 {
      grid-area: telefono;
      width: 100%; }
      main .formulario-reserva fieldset .input-reserva3 .telefono-reserva {
        width: 95%; }
    main .formulario-reserva fieldset .input-reserva4 {
      grid-area: email;
      width: 100%; }
      main .formulario-reserva fieldset .input-reserva4 .email-reserva {
        width: 95%; }
    main .formulario-reserva fieldset .input-reserva5 {
      grid-area: comensal;
      width: 100%; }
      main .formulario-reserva fieldset .input-reserva5 .comensales-reserva {
        width: 95%; }
    main .formulario-reserva fieldset .input-reserva6 {
      grid-area: fecha;
      width: 100%; }
      main .formulario-reserva fieldset .input-reserva6 .fecha-reserva {
        width: 95%; }
    main .formulario-reserva fieldset .input-reserva7 {
      grid-area: horario;
      width: 100%; }
      main .formulario-reserva fieldset .input-reserva7 .horario-reserva {
        width: 95%; }
    main .formulario-reserva fieldset .input-reserva8 {
      grid-area: mensaje;
      width: 100%; }
      main .formulario-reserva fieldset .input-reserva8 .mensaje-reserva {
        width: 95%; }
    main .formulario-reserva fieldset .input-reserva-reset {
      grid-area: reset;
      justify-self: end; }
      main .formulario-reserva fieldset .input-reserva-reset .boton-reserva1 {
        font-size: 0.8rem;
        border: 1px solid #b47e1e;
        background-color: #b47e1e;
        border-radius: 0.3rem;
        font-family: 'Open Sans', sans-serif;
        color: whitesmoke;
        outline: none;
        padding: 0.4rem;
        text-align: center; }
    main .formulario-reserva fieldset .input-reserva-submit {
      grid-area: submit;
      justify-self: start; }
      main .formulario-reserva fieldset .input-reserva-submit .boton-reserva2 {
        font-size: 0.8rem;
        border: 1px solid #b47e1e;
        background-color: #b47e1e;
        border-radius: 0.3rem;
        font-family: 'Open Sans', sans-serif;
        color: whitesmoke;
        outline: none;
        padding: 0.4rem;
        text-align: center; }

main .condiciones-reserva {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem; }
  main .condiciones-reserva .condicion1 {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #212324; }
  main .condiciones-reserva .condicion2 {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #212324; }
  main .condiciones-reserva .condicion3 {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #212324; }
  main .condiciones-reserva .condicion4 {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #212324; }
  main .condiciones-reserva .condicion5 {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #212324; }

main .h2-p-reserva {
  text-align: center;
  margin-bottom: 3rem;
  border: 1px solid #b47e1e;
  margin-left: 1.2rem;
  margin-right: 1.2rem; }
  main .h2-p-reserva .h2-telefono {
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    color: #151515;
    margin-bottom: 0rem;
    padding-bottom: 0.8rem; }
  main .h2-p-reserva .p-telefono {
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    color: #b47e1e;
    margin-bottom: 0rem;
    font-style: oblique;
    font-weight: 600; }

/*estilos del main de la Seccion Reservas - version mobile*/
footer .sections-footer .ubicacion-footer, footer .sections-footer .contacto-footer, footer .boton-arriba-footer {
  display: none; }

main .formulario-reserva fieldset .input-reserva1, main .formulario-reserva fieldset .input-reserva2, main .formulario-reserva fieldset .input-reserva3, main .formulario-reserva fieldset .input-reserva4, main .formulario-reserva fieldset .input-reserva5, main .formulario-reserva fieldset .input-reserva6, main .formulario-reserva fieldset .input-reserva7, main .formulario-reserva fieldset .input-reserva8, main .formulario-contacto fieldset .input-contacto1, main .formulario-contacto fieldset .input-contacto2, main .formulario-contacto fieldset .input-contacto3, main .formulario-contacto fieldset .input-contacto4, main .formulario-contacto fieldset .input-contacto5, main .formulario-contacto fieldset .input-contacto6, footer .sections-footer .redes-footer .iconos-redes, footer .sections-footer .redes-footer .iconos-redes a, footer .sections-footer .newsletter-footer form fieldset .input-newsletter, footer .sections-footer .newsletter-footer form fieldset .boton-newsletter {
  display: flex;
  justify-content: center;
  align-items: center; }

main .sections-contacto .ubicacion-contacto, main .sections-contacto .horarios-contacto, main .sections-contacto .telefono-contacto, main .sections-contacto .email-contacto, footer .sections-footer .redes-footer, footer .sections-footer .newsletter-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem; }

main .main-nosotros .cont-h2-p-nos .h2-secc, main .cont-menu .cont-menu2 .h2-secc {
  margin-bottom: 0;
  color: #151515;
  font-size: 1rem;
  font-weight: bold; }

footer .sections-footer .redes-footer .h3-footer, footer .sections-footer .newsletter-footer .h3-footer {
  font-size: 0.9rem;
  color: #dee0e5;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif; }

main .formulario-reserva fieldset .input-reserva1 .nombre-reserva, main .formulario-reserva fieldset .input-reserva2 .apellido-reserva, main .formulario-reserva fieldset .input-reserva3 .telefono-reserva, main .formulario-reserva fieldset .input-reserva4 .email-reserva, main .formulario-reserva fieldset .input-reserva5 .comensales-reserva, main .formulario-reserva fieldset .input-reserva6 .fecha-reserva, main .formulario-reserva fieldset .input-reserva7 .horario-reserva, main .formulario-reserva fieldset .input-reserva8 .mensaje-reserva, main .formulario-contacto fieldset .input-contacto1 .input-nombre, main .formulario-contacto fieldset .input-contacto2 .input-apellido, main .formulario-contacto fieldset .input-contacto3 .input-telefono, main .formulario-contacto fieldset .input-contacto4 .input-email, main .formulario-contacto fieldset .input-contacto5 .input-asunto, main .formulario-contacto fieldset .input-contacto6 .input-mensaje {
  font-size: 0.8rem;
  border: 1px solid #c8ccd5;
  background-color: whitesmoke;
  border-radius: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  color: #212324;
  outline: none;
  padding: 0.4rem; }

main .subtitulos-contacto {
  text-align: center;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }
  main .subtitulos-contacto .h2-contacto {
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    color: #151515;
    margin-bottom: 0rem;
    padding-bottom: 0.8rem; }
  main .subtitulos-contacto .p-contacto {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #212324;
    margin-bottom: 0rem; }
  main .subtitulos-contacto .f-weight {
    font-weight: 650; }

main .formulario-contacto {
  width: 100%; }
  main .formulario-contacto fieldset {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "nombre nombre" "apellido apellido" "telefono telefono" "email email" "asunto asunto" "mensaje mensaje" "reset submit";
    justify-items: center;
    align-items: center;
    gap: 0.8rem; }
    main .formulario-contacto fieldset legend {
      display: none; }
    main .formulario-contacto fieldset div label {
      display: none; }
    main .formulario-contacto fieldset .input-contacto1 {
      width: 100%;
      grid-area: nombre; }
      main .formulario-contacto fieldset .input-contacto1 .input-nombre {
        width: 95%; }
    main .formulario-contacto fieldset .input-contacto2 {
      width: 100%;
      grid-area: apellido; }
      main .formulario-contacto fieldset .input-contacto2 .input-apellido {
        width: 95%; }
    main .formulario-contacto fieldset .input-contacto3 {
      width: 100%;
      grid-area: telefono; }
      main .formulario-contacto fieldset .input-contacto3 .input-telefono {
        width: 95%; }
    main .formulario-contacto fieldset .input-contacto4 {
      width: 100%;
      grid-area: email; }
      main .formulario-contacto fieldset .input-contacto4 .input-email {
        width: 95%; }
    main .formulario-contacto fieldset .input-contacto5 {
      width: 100%;
      grid-area: asunto; }
      main .formulario-contacto fieldset .input-contacto5 .input-asunto {
        width: 95%; }
    main .formulario-contacto fieldset .input-contacto6 {
      width: 100%;
      grid-area: mensaje; }
      main .formulario-contacto fieldset .input-contacto6 .input-mensaje {
        width: 95%; }
    main .formulario-contacto fieldset .input-contacto-reset {
      grid-area: reset;
      justify-self: end; }
      main .formulario-contacto fieldset .input-contacto-reset .boton-contacto1 {
        font-size: 0.8rem;
        border: 1px solid #b47e1e;
        background-color: #b47e1e;
        border-radius: 0.3rem;
        font-family: 'Open Sans', sans-serif;
        color: whitesmoke;
        outline: none;
        padding: 0.4rem;
        text-align: center; }
    main .formulario-contacto fieldset .input-contacto-submit {
      grid-area: submit;
      justify-self: start; }
      main .formulario-contacto fieldset .input-contacto-submit .boton-contacto2 {
        font-size: 0.8rem;
        border: 1px solid #b47e1e;
        background-color: #b47e1e;
        border-radius: 0.3rem;
        font-family: 'Open Sans', sans-serif;
        color: whitesmoke;
        outline: none;
        padding: 0.4rem;
        text-align: center; }

main .sections-contacto {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem; }
  main .sections-contacto div .h2-contacto {
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    color: #151515;
    margin-bottom: 0rem; }
  main .sections-contacto div div .p-contacto {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #212324;
    margin-bottom: 0rem; }
  main .sections-contacto .ubicacion-contacto .icono-ubicacion {
    color: #b47e1e;
    font-size: 1.8rem; }
  main .sections-contacto .ubicacion-contacto .p-ubicacion-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem; }
  main .sections-contacto .horarios-contacto .icono-horarios {
    color: #b47e1e;
    font-size: 1.8rem; }
  main .sections-contacto .horarios-contacto .p-horarios-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem; }
  main .sections-contacto .telefono-contacto .icono-telefono {
    color: #b47e1e;
    font-size: 1.8rem; }
  main .sections-contacto .telefono-contacto .p-telefono-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  main .sections-contacto .email-contacto .icono-email {
    color: #b47e1e;
    font-size: 1.8rem; }
  main .sections-contacto .email-contacto .p-email-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

main .mapa-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; }
  main .mapa-contacto iframe {
    width: 100%; }

/*estilos del footer de mi sitio web - version mobile*/
footer .sections-footer .ubicacion-footer, footer .sections-footer .contacto-footer, footer .boton-arriba-footer {
  display: none; }

main .formulario-reserva fieldset .input-reserva1, main .formulario-reserva fieldset .input-reserva2, main .formulario-reserva fieldset .input-reserva3, main .formulario-reserva fieldset .input-reserva4, main .formulario-reserva fieldset .input-reserva5, main .formulario-reserva fieldset .input-reserva6, main .formulario-reserva fieldset .input-reserva7, main .formulario-reserva fieldset .input-reserva8, main .formulario-contacto fieldset .input-contacto1, main .formulario-contacto fieldset .input-contacto2, main .formulario-contacto fieldset .input-contacto3, main .formulario-contacto fieldset .input-contacto4, main .formulario-contacto fieldset .input-contacto5, main .formulario-contacto fieldset .input-contacto6, footer .sections-footer .redes-footer .iconos-redes, footer .sections-footer .redes-footer .iconos-redes a, footer .sections-footer .newsletter-footer form fieldset .input-newsletter, footer .sections-footer .newsletter-footer form fieldset .boton-newsletter {
  display: flex;
  justify-content: center;
  align-items: center; }

main .sections-contacto .ubicacion-contacto, main .sections-contacto .horarios-contacto, main .sections-contacto .telefono-contacto, main .sections-contacto .email-contacto, footer .sections-footer .redes-footer, footer .sections-footer .newsletter-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem; }

main .main-nosotros .cont-h2-p-nos .h2-secc, main .cont-menu .cont-menu2 .h2-secc {
  margin-bottom: 0;
  color: #151515;
  font-size: 1rem;
  font-weight: bold; }

footer .sections-footer .redes-footer .h3-footer, footer .sections-footer .newsletter-footer .h3-footer {
  font-size: 0.9rem;
  color: #dee0e5;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif; }

main .formulario-reserva fieldset .input-reserva1 .nombre-reserva, main .formulario-reserva fieldset .input-reserva2 .apellido-reserva, main .formulario-reserva fieldset .input-reserva3 .telefono-reserva, main .formulario-reserva fieldset .input-reserva4 .email-reserva, main .formulario-reserva fieldset .input-reserva5 .comensales-reserva, main .formulario-reserva fieldset .input-reserva6 .fecha-reserva, main .formulario-reserva fieldset .input-reserva7 .horario-reserva, main .formulario-reserva fieldset .input-reserva8 .mensaje-reserva, main .formulario-contacto fieldset .input-contacto1 .input-nombre, main .formulario-contacto fieldset .input-contacto2 .input-apellido, main .formulario-contacto fieldset .input-contacto3 .input-telefono, main .formulario-contacto fieldset .input-contacto4 .input-email, main .formulario-contacto fieldset .input-contacto5 .input-asunto, main .formulario-contacto fieldset .input-contacto6 .input-mensaje {
  font-size: 0.8rem;
  border: 1px solid #c8ccd5;
  background-color: whitesmoke;
  border-radius: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  color: #212324;
  outline: none;
  padding: 0.4rem; }

footer .sections-footer {
  background-color: #12223D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem; }
  footer .sections-footer .redes-footer .iconos-redes {
    gap: 1rem; }
    footer .sections-footer .redes-footer .iconos-redes a {
      text-decoration: none; }
      footer .sections-footer .redes-footer .iconos-redes a .icono-red1 {
        color: #c8ccd5;
        font-size: 1.5rem; }
      footer .sections-footer .redes-footer .iconos-redes a .icono-red2 {
        color: #c8ccd5;
        font-size: 1.5rem; }
  footer .sections-footer .newsletter-footer {
    width: 100%; }
    footer .sections-footer .newsletter-footer form {
      width: 100%; }
      footer .sections-footer .newsletter-footer form fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        width: 100%; }
        footer .sections-footer .newsletter-footer form fieldset legend {
          display: none; }
        footer .sections-footer .newsletter-footer form fieldset .input-newsletter {
          width: 100%; }
          footer .sections-footer .newsletter-footer form fieldset .input-newsletter label {
            display: none; }
          footer .sections-footer .newsletter-footer form fieldset .input-newsletter .input-newsletter2 {
            text-align: center;
            font-size: 0.8rem;
            width: 60%;
            border-color: transparent;
            background-color: whitesmoke;
            border-radius: 0.1rem;
            font-family: 'Open Sans', sans-serif;
            color: #212324;
            outline: none;
            padding: 0.1rem; }
        footer .sections-footer .newsletter-footer form fieldset .boton-newsletter .boton-newsletter2 {
          font-size: 0.8rem;
          font-family: 'Open Sans', sans-serif;
          text-align: center;
          background-color: transparent;
          border-radius: 0.3rem;
          color: #c8ccd5;
          outline: none;
          border: 1px solid #c8ccd5;
          padding: 0.2rem; }

footer .derechos-footer {
  background-color: #394867;
  text-align: center;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem; }
  footer .derechos-footer .p-footer {
    margin-bottom: 0;
    color: #c8ccd5;
    font-size: 0.8rem; }

/*estilos para version tablet vertical*/
@media screen and (min-width: 576px) {
  /*estilos del header de mi sitio web*/
  header nav div div ul li .font-nav {
    font-size: 0.9rem; }
  /*estilos del titulo principal de las secciones*/
  main .cont-secc .titulo-secc {
    font-size: 1.4rem; }
  /*estilos del main de la Seccion Reservas*/
  main .subtitulos-reservas .h2-reservas {
    font-size: 1.3rem; }
  main .subtitulos-reservas .p-reservas {
    font-size: 0.9rem; }
  main .formulario-reserva fieldset {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "nombre nombre nombre apellido apellido apellido" "telefono telefono telefono email email email" "comensal comensal fecha fecha horario horario" "mensaje mensaje mensaje mensaje mensaje mensaje" ". . boton boton . .";
    justify-items: center;
    align-items: center; }
    main .formulario-reserva fieldset .input-reserva1 {
      grid-area: nombre; }
      main .formulario-reserva fieldset .input-reserva1 .nombre-reserva {
        width: 100%;
        margin-left: 2rem;
        font-size: 0.9rem; }
    main .formulario-reserva fieldset .input-reserva2 {
      grid-area: apellido; }
      main .formulario-reserva fieldset .input-reserva2 .apellido-reserva {
        width: 100%;
        margin-right: 2rem;
        font-size: 0.9rem; }
    main .formulario-reserva fieldset .input-reserva3 {
      grid-area: telefono; }
      main .formulario-reserva fieldset .input-reserva3 .telefono-reserva {
        width: 100%;
        margin-left: 2rem;
        font-size: 0.9rem; }
    main .formulario-reserva fieldset .input-reserva4 {
      grid-area: email; }
      main .formulario-reserva fieldset .input-reserva4 .email-reserva {
        width: 100%;
        margin-right: 2rem;
        font-size: 0.9rem; }
    main .formulario-reserva fieldset .input-reserva5 {
      grid-area: comensal; }
      main .formulario-reserva fieldset .input-reserva5 .comensales-reserva {
        width: 100%;
        margin-left: 2rem;
        font-size: 0.9rem; }
    main .formulario-reserva fieldset .input-reserva6 {
      grid-area: fecha; }
      main .formulario-reserva fieldset .input-reserva6 .fecha-reserva {
        width: 100%;
        font-size: 0.9rem; }
    main .formulario-reserva fieldset .input-reserva7 {
      grid-area: horario; }
      main .formulario-reserva fieldset .input-reserva7 .horario-reserva {
        width: 100%;
        margin-right: 2rem;
        font-size: 0.9rem; }
    main .formulario-reserva fieldset .input-reserva8 {
      grid-area: mensaje; }
      main .formulario-reserva fieldset .input-reserva8 .mensaje-reserva {
        width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 0.9rem; }
    main .formulario-reserva fieldset .input-boton-reserva {
      grid-area: boton; }
      main .formulario-reserva fieldset .input-boton-reserva .boton-reserva1 {
        font-size: 0.9rem;
        padding: 0.5rem; }
      main .formulario-reserva fieldset .input-boton-reserva .boton-reserva2 {
        font-size: 0.9rem;
        padding: 0.5rem; }
  main .condiciones-reserva {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: start;
    align-items: start;
    margin-left: 1.2rem;
    margin-right: 2rem; }
    main .condiciones-reserva .condicion1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin-right: 0.8rem;
      font-size: 0.9rem; }
    main .condiciones-reserva .condicion2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-right: 0.8rem;
      font-size: 0.9rem; }
    main .condiciones-reserva .condicion3 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-right: 0.8rem;
      font-size: 0.9rem; }
    main .condiciones-reserva .condicion4 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      font-size: 0.9rem; }
    main .condiciones-reserva .condicion5 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-size: 0.9rem; }
  main .h2-p-reserva {
    margin-left: 2rem;
    margin-right: 2rem; }
    main .h2-p-reserva .h2-telefono {
      font-size: 1.3rem; }
    main .h2-p-reserva .p-telefono {
      font-size: 1rem; }
  /*estilos del main de la Seccion Contacto*/
  main .subtitulos-contacto .h2-contacto {
    font-size: 1.3rem; }
  main .subtitulos-contacto .p-contacto {
    font-size: 0.9rem; }
  main .formulario-contacto fieldset {
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "nombre apellido" "telefono email" "asunto asunto" "mensaje mensaje" "reset submit"; }
    main .formulario-contacto fieldset .input-contacto1 {
      grid-area: nombre; }
      main .formulario-contacto fieldset .input-contacto1 .input-nombre {
        width: 100%;
        margin-left: 2rem;
        font-size: 0.9rem; }
    main .formulario-contacto fieldset .input-contacto2 {
      grid-area: apellido; }
      main .formulario-contacto fieldset .input-contacto2 .input-apellido {
        width: 100%;
        margin-right: 2rem;
        font-size: 0.9rem; }
    main .formulario-contacto fieldset .input-contacto3 {
      grid-area: telefono; }
      main .formulario-contacto fieldset .input-contacto3 .input-telefono {
        width: 100%;
        margin-left: 2rem;
        font-size: 0.9rem; }
    main .formulario-contacto fieldset .input-contacto4 {
      grid-area: email; }
      main .formulario-contacto fieldset .input-contacto4 .input-email {
        width: 100%;
        margin-right: 2rem;
        font-size: 0.9rem; }
    main .formulario-contacto fieldset .input-contacto5 {
      grid-area: asunto; }
      main .formulario-contacto fieldset .input-contacto5 .input-asunto {
        width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 0.9rem; }
    main .formulario-contacto fieldset .input-contacto6 {
      grid-area: mensaje; }
      main .formulario-contacto fieldset .input-contacto6 .input-mensaje {
        width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 0.9rem; }
    main .formulario-contacto fieldset .input-contacto-reset {
      grid-area: reset; }
      main .formulario-contacto fieldset .input-contacto-reset .boton-contacto1 {
        font-size: 0.9rem;
        padding: 0.5rem; }
    main .formulario-contacto fieldset .input-contacto-submit {
      grid-area: submit; }
      main .formulario-contacto fieldset .input-contacto-submit .boton-contacto2 {
        font-size: 0.9rem;
        padding: 0.5rem; }
  main .sections-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: baseline;
    row-gap: 3rem;
    column-gap: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    main .sections-contacto div .h2-contacto {
      font-size: 1.3rem; }
    main .sections-contacto div div .p-contacto {
      font-size: 0.9rem; }
    main .sections-contacto .ubicacion-contacto {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
      main .sections-contacto .ubicacion-contacto .icono-ubicacion {
        font-size: 1.9rem; }
    main .sections-contacto .horarios-contacto {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
      main .sections-contacto .horarios-contacto .icono-horarios {
        font-size: 1.9rem; }
    main .sections-contacto .telefono-contacto {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
      main .sections-contacto .telefono-contacto .icono-telefono {
        font-size: 1.9rem; }
    main .sections-contacto .email-contacto {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
      main .sections-contacto .email-contacto .icono-email {
        font-size: 1.9rem; }
  /*estilos del footer de mi sitio web*/
  footer .sections-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: baseline;
    row-gap: 2.5rem;
    column-gap: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    footer .sections-footer .ubicacion-footer {
      display: block;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.8rem; }
      footer .sections-footer .ubicacion-footer .h3-footer {
        font-size: 0.9rem;
        color: #dee0e5;
        margin-bottom: 0;
        font-family: 'Playfair Display', serif;
        font-size: 1rem; }
      footer .sections-footer .ubicacion-footer .p-ubicacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        footer .sections-footer .ubicacion-footer .p-ubicacion .p-secc-footer {
          margin-bottom: 0;
          color: #c8ccd5;
          font-size: 0.8rem;
          font-family: 'Open Sans', sans-serif; }
    footer .sections-footer .contacto-footer {
      display: block;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.8rem; }
      footer .sections-footer .contacto-footer .h3-footer {
        font-size: 0.9rem;
        color: #dee0e5;
        margin-bottom: 0;
        font-family: 'Playfair Display', serif;
        font-size: 1rem; }
      footer .sections-footer .contacto-footer .p-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        footer .sections-footer .contacto-footer .p-contacto .p-secc-footer {
          margin-bottom: 0;
          color: #c8ccd5;
          font-size: 0.8rem;
          font-family: 'Open Sans', sans-serif; }
    footer .sections-footer .redes-footer {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
      footer .sections-footer .redes-footer .h3-footer {
        font-size: 1rem; }
    footer .sections-footer .newsletter-footer {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
      footer .sections-footer .newsletter-footer .h3-footer {
        font-size: 1rem; }
      footer .sections-footer .newsletter-footer form fieldset .input-newsletter .input-newsletter2 {
        width: 58%; } }

/*estilos para version tablet horizontal y desktop*/
@media screen and (min-width: 992px) {
  /*estilos del header de mi sitio web*/
  header nav div a img {
    width: 160px;
    height: 105px; }
  header nav div div ul li .font-nav {
    font-weight: 600;
    font-size: 1rem; }
    header nav div div ul li .font-nav:hover {
      color: #151515;
      border-bottom: 2px solid #12223D; }
  /*estilos del titulo principal de las secciones*/
  main .cont-secc {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    main .cont-secc .titulo-secc {
      font-size: 1.9rem; }
  /*estilos del main de la Seccion Nosotros*/
  main .main-nosotros {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 2.2rem;
    row-gap: 1.5rem; }
    main .main-nosotros .cont-h2-p-nos {
      grid-column: 1 / 2;
      grid-row: 1 / span 3;
      margin-right: 0;
      margin-left: 2.2rem;
      justify-content: flex-start; }
      main .main-nosotros .cont-h2-p-nos .h2-secc {
        font-size: 1.5rem; }
      main .main-nosotros .cont-h2-p-nos .h2-secc-nos {
        margin-top: 3.5rem;
        padding-bottom: 2rem; }
      main .main-nosotros .cont-h2-p-nos .p-nosotros {
        font-size: 1rem; }
    main .main-nosotros .cont-img1-nos {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-left: 0;
      margin-right: 2.2rem;
      margin-top: 4rem; }
    main .main-nosotros .cont-img2-nos {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin-left: 0;
      margin-right: 2.2rem; }
  /*estilos del main de la Seccion Menu*/
  main .cont-menu {
    gap: 3.8rem;
    margin-top: 3rem;
    margin-bottom: 3rem; }
    main .cont-menu .cont-menu2 .h2-secc {
      font-size: 1.5rem; }
    main .cont-menu .cont-menu2 .lista-menu .item-lista-menu .nombre-plato {
      font-size: 1.2rem; }
    main .cont-menu .cont-menu2 .lista-menu .item-lista-menu .descrip-plato {
      font-size: 1.2rem; }
    main .cont-menu .cont-h2-menu {
      padding-bottom: 0; }
  main .galeria-menu {
    flex-direction: row;
    gap: 1.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 2.7rem; }
    main .galeria-menu .img-menu {
      width: 30%;
      height: 30%; }
  /*estilos del main de la Seccion Reservas*/
  main .subtitulos-reservas {
    margin-top: 3rem;
    margin-bottom: 3rem; }
    main .subtitulos-reservas .h2-reservas {
      font-size: 1.4rem;
      padding-bottom: 1rem; }
  main .formulario-reserva fieldset {
    gap: 1rem; }
    main .formulario-reserva fieldset .input-reserva1 .nombre-reserva {
      margin-left: 10rem;
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-reserva1 .nombre-reserva:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-reserva fieldset .input-reserva2 .apellido-reserva {
      margin-right: 10rem;
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-reserva2 .apellido-reserva:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-reserva fieldset .input-reserva3 .telefono-reserva {
      margin-left: 10rem;
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-reserva3 .telefono-reserva:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-reserva fieldset .input-reserva4 .email-reserva {
      margin-right: 10rem;
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-reserva4 .email-reserva:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-reserva fieldset .input-reserva5 .comensales-reserva {
      margin-left: 10rem;
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-reserva5 .comensales-reserva:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-reserva fieldset .input-reserva6 .fecha-reserva {
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-reserva6 .fecha-reserva:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-reserva fieldset .input-reserva7 .horario-reserva {
      margin-right: 10rem;
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-reserva7 .horario-reserva:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-reserva fieldset .input-reserva8 .mensaje-reserva {
      margin-left: 10rem;
      margin-right: 10rem;
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-reserva8 .mensaje-reserva:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-reserva fieldset .input-boton-reserva .boton-reserva1 {
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-boton-reserva .boton-reserva1:hover {
        background-color: transparent;
        color: #b47e1e; }
      main .formulario-reserva fieldset .input-boton-reserva .boton-reserva1:active {
        background-color: transparent;
        color: #b47e1e;
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black;
        border-width: 2px; }
    main .formulario-reserva fieldset .input-boton-reserva .boton-reserva2 {
      padding: 0.6rem; }
      main .formulario-reserva fieldset .input-boton-reserva .boton-reserva2:hover {
        background-color: transparent;
        color: #b47e1e; }
      main .formulario-reserva fieldset .input-boton-reserva .boton-reserva2:active {
        background-color: transparent;
        color: #b47e1e;
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black;
        border-width: 2px; }
  main .condiciones-reserva {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 9rem;
    margin-right: 10rem;
    gap: 1rem; }
    main .condiciones-reserva .condicion1 {
      margin-right: 1rem; }
    main .condiciones-reserva .condicion2 {
      margin-right: 1rem; }
    main .condiciones-reserva .condicion3 {
      margin-right: 1rem; }
  main .h2-p-reserva {
    margin-bottom: 4rem;
    margin-left: 10rem;
    margin-right: 10rem; }
    main .h2-p-reserva .h2-telefono {
      font-size: 1.4rem; }
    main .h2-p-reserva .p-telefono {
      font-size: 1.1rem; }
  /*estilos del main de la Seccion Contacto*/
  main .subtitulos-contacto {
    margin-top: 3rem;
    margin-bottom: 3rem; }
    main .subtitulos-contacto .h2-contacto {
      font-size: 1.4rem;
      padding-bottom: 1rem; }
  main .formulario-contacto fieldset {
    gap: 1rem; }
    main .formulario-contacto fieldset .input-contacto1 .input-nombre {
      margin-left: 10rem;
      padding: 0.6rem; }
      main .formulario-contacto fieldset .input-contacto1 .input-nombre:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-contacto fieldset .input-contacto2 .input-apellido {
      margin-right: 10rem;
      padding: 0.6rem; }
      main .formulario-contacto fieldset .input-contacto2 .input-apellido:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-contacto fieldset .input-contacto3 .input-telefono {
      margin-left: 10rem;
      padding: 0.6rem; }
      main .formulario-contacto fieldset .input-contacto3 .input-telefono:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-contacto fieldset .input-contacto4 .input-email {
      margin-right: 10rem;
      padding: 0.6rem; }
      main .formulario-contacto fieldset .input-contacto4 .input-email:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-contacto fieldset .input-contacto5 .input-asunto {
      margin-left: 10rem;
      margin-right: 10rem;
      padding: 0.6rem; }
      main .formulario-contacto fieldset .input-contacto5 .input-asunto:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-contacto fieldset .input-contacto6 .input-mensaje {
      margin-left: 10rem;
      margin-right: 10rem;
      padding: 0.6rem; }
      main .formulario-contacto fieldset .input-contacto6 .input-mensaje:focus {
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black; }
    main .formulario-contacto fieldset .input-contacto-reset .boton-contacto1 {
      padding: 0.6rem; }
      main .formulario-contacto fieldset .input-contacto-reset .boton-contacto1:hover {
        background-color: transparent;
        color: #b47e1e; }
      main .formulario-contacto fieldset .input-contacto-reset .boton-contacto1:active {
        background-color: transparent;
        color: #b47e1e;
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black;
        border-width: 2px; }
    main .formulario-contacto fieldset .input-contacto-submit .boton-contacto2 {
      padding: 0.6rem; }
      main .formulario-contacto fieldset .input-contacto-submit .boton-contacto2:hover {
        background-color: transparent;
        color: #b47e1e; }
      main .formulario-contacto fieldset .input-contacto-submit .boton-contacto2:active {
        background-color: transparent;
        color: #b47e1e;
        box-shadow: 0px 0px 5px 0px black;
        -webkit-box-shadow: 0px 0px 5px 0px black;
        -moz-box-shadow: 0px 0px 5px 0px black;
        border-width: 2px; }
  main .sections-contacto {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    row-gap: 0rem;
    margin-top: 5rem;
    margin-bottom: 5rem; }
    main .sections-contacto div .h2-contacto {
      font-size: 1.4rem; }
    main .sections-contacto .ubicacion-contacto {
      gap: 1rem; }
      main .sections-contacto .ubicacion-contacto .icono-ubicacion {
        font-size: 2rem; }
      main .sections-contacto .ubicacion-contacto .p-ubicacion-contacto {
        gap: 0.4rem; }
    main .sections-contacto .horarios-contacto {
      gap: 1rem; }
      main .sections-contacto .horarios-contacto .icono-horarios {
        font-size: 2rem; }
      main .sections-contacto .horarios-contacto .p-horarios-contacto {
        gap: 0.4rem; }
    main .sections-contacto .telefono-contacto {
      gap: 1rem;
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
      main .sections-contacto .telefono-contacto .icono-telefono {
        font-size: 2rem; }
    main .sections-contacto .email-contacto {
      gap: 1rem;
      grid-column: 4 / 5;
      grid-row: 1 / 2; }
      main .sections-contacto .email-contacto .icono-email {
        font-size: 2rem; }
  main .mapa-contacto {
    margin-bottom: 4rem; }
  /*estilos del footer de mi sitio web*/
  footer .sections-footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding-top: 1.5rem;
    row-gap: 0rem; }
    footer .sections-footer .ubicacion-footer {
      gap: 1rem; }
      footer .sections-footer .ubicacion-footer .h3-footer {
        font-size: 1rem; }
      footer .sections-footer .ubicacion-footer .p-ubicacion .p-secc-footer {
        font-size: 0.9rem; }
    footer .sections-footer .contacto-footer {
      gap: 1rem; }
      footer .sections-footer .contacto-footer .h3-footer {
        font-size: 1rem; }
      footer .sections-footer .contacto-footer .p-contacto .p-secc-footer {
        font-size: 0.9rem; }
    footer .sections-footer .redes-footer {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      gap: 1rem; }
      footer .sections-footer .redes-footer .h3-footer {
        font-size: 1rem; }
      footer .sections-footer .redes-footer .iconos-redes a .icono-red1 {
        font-size: 1.8rem; }
        footer .sections-footer .redes-footer .iconos-redes a .icono-red1:hover {
          transform: scale(1.1);
          transition: transform 0.5s; }
      footer .sections-footer .redes-footer .iconos-redes a .icono-red2 {
        font-size: 1.8rem; }
        footer .sections-footer .redes-footer .iconos-redes a .icono-red2:hover {
          transform: scale(1.1);
          transition: transform 1s ease; }
    footer .sections-footer .newsletter-footer {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      gap: 1rem; }
      footer .sections-footer .newsletter-footer .h3-footer {
        font-size: 1rem; }
      footer .sections-footer .newsletter-footer form fieldset .input-newsletter .input-newsletter2 {
        width: 80%;
        font-size: 0.9rem; }
        footer .sections-footer .newsletter-footer form fieldset .input-newsletter .input-newsletter2:focus {
          box-shadow: 0px 0px 10px 0px black;
          -webkit-box-shadow: 0px 0px 10px 0px black;
          -moz-box-shadow: 0px 0px 10px 0px black; }
      footer .sections-footer .newsletter-footer form fieldset .boton-newsletter .boton-newsletter2 {
        font-size: 0.83rem;
        padding: 0.3rem; }
        footer .sections-footer .newsletter-footer form fieldset .boton-newsletter .boton-newsletter2:hover {
          background-color: #c8ccd5;
          color: #434656; }
        footer .sections-footer .newsletter-footer form fieldset .boton-newsletter .boton-newsletter2:active {
          background-color: #c8ccd5;
          color: #434656;
          box-shadow: 0px 0px 10px 0px black;
          -webkit-box-shadow: 0px 0px 10px 0px black;
          -moz-box-shadow: 0px 0px 10px 0px black; }
  footer .boton-arriba-footer {
    display: block;
    position: relative; }
    footer .boton-arriba-footer a {
      position: absolute;
      top: 1.5rem;
      left: 95%; }
      footer .boton-arriba-footer a .icono-boton-arriba {
        color: #dee0e5;
        font-size: 1.2rem; }
  footer .derechos-footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    footer .derechos-footer .p-footer {
      font-size: 0.9rem; } }
