/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//imports
@import "html-generales/header";
@import "html-generales/h1";
@import "html-main/home";
@import "html-main/nosotros";
@import "html-main/menu";
@import "html-main/reservas";
@import "html-main/contacto";
@import "html-generales/footer";
@import "media-queries/tablet";
@import "media-queries/desktop";