/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//imports
@import "generales/header";
@import "generales/h1";
@import "home";
@import "main-secciones/nosotros";
@import "main-secciones/menu";
@import "main-secciones/reservas";
@import "main-secciones/contacto";
@import "generales/footer";
@import "media-queries/tablet";
@import "media-queries/desktop";