/*estilos del titulo principal de las secciones - version mobile*/

//imports
@import "../utilidades/variables";
@import "../utilidades/mixin";

main {
    .cont-secc {
        background-color: $bg-seccion;
        @include padding-mobile;
        @include flex1;

        .titulo-secc {
            margin-bottom: 0;
            color: $color-h1;
            font-size: 1.3rem;
            font-family: 'Playfair Display', serif;
            font-weight: 600;
        }
    }
}
