/*estilos del header de mi sitio web - version mobile*/

header {
    nav {
        div {
            a {
                img {
                    width: 144px;
                    height: 95px;
                }
            }

            .menu-hamburguesa {
                border-color: tomato;

                &:focus {
                    box-shadow: none;
                }

            }

            div {
                ul {
                    li {
                        .font-nav {
                            color: black;
                            font-weight: bold;
                            font-size: 1rem;
                        }
                    }
                }

            }
        }
    }

}