/*estilos del header de mi sitio web - version mobile*/

//imports
@import "../utilidades/variables";

header {
    nav {
        div {
            a {
                img {
                    width: 144px;
                    height: 95px;
                }
            }

            .menu-hamburguesa:focus {
                box-shadow: none;
            }

            div {
                ul {
                    li {
                        .font-nav {
                            font-family: 'Playfair Display', serif;
                            text-transform: uppercase;
                            font-weight: 550;
                            font-size: 0.8rem;
                            color: $color-txt1;                                                        
                        }
                    }
                }

            }
        }
    }

}