//imports

@import "variables";
@import "mixin";


%display-none{
    display: none;
}

%flex1{
    @include flex1;
}

%flex3{
    @include flex3;
}

%h3-footer{
    font-size: 0.9rem;
    color: $color-h3-footer;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
}

%input-formulario-mobile{
    font-size: 0.8rem;
    border: 1px solid #c8ccd5;
    background-color: whitesmoke;
    border-radius: 0.1rem;
    font-family: 'Open Sans', sans-serif;
    color: $color-txt2;
    outline: none;
    padding: 0.4rem;
}
