//imports

@import "variables";
@import "mixin";


%display-none{
    display: none;
}

%flex1{
    @include flex1;
}

%flex3{
    @include flex3;
}

%h3-footer{
    font-size: 0.9rem;
    color: $color-h3-footer;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
}

%input-formulario-mobile{
    @include input-formulario-mobile;
}
