//imports
@import "variables";

@mixin flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

@mixin padding-mobile{
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

@mixin padding-desktop{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@mixin margin-mobile{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

@mixin p-secc-footer{
    margin-bottom: 0;
    color: $color-p-footer;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;

}

@mixin img($width, $height){
    width: $width;
    height: $height;
}

@mixin boton-formulario-mobile{
    font-size: 0.8rem;
    border: 1px solid #b47e1e;
    background-color: #b47e1e;
    border-radius: 0.3rem;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    outline: none;
    padding: 0.4rem;
    text-align: center;
}

