//Paleta de colores

$color-principal: #12223D;

$color-txt1: #151515; 
$color-txt2: #212324;

$bg-seccion: #12223D;
$bg-footer1: #12223D;
$bg-footer2: #394867;

$color-h1: whitesmoke;
$color-h3-footer:#dee0e5;
$color-p-footer:#c8ccd5;

$bg-bt-newsletter: #c8ccd5;