/*estilos del main de la Seccion Contacto - version mobile*/

//imports
@import "../utilidades/extend";
@import "../utilidades/mixin";
@import "../utilidades/variables";


main{
    .subtitulos-contacto{
        text-align: center;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;

        .h2-contacto{
            font-size: 1.2rem;
            font-family: 'Playfair Display', serif;
            color: $color-txt1;
            margin-bottom: 0rem;
            padding-bottom: 0.8rem;
        }

        .p-contacto{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
            margin-bottom: 0rem;
        }

        .f-weight{
            font-weight: 600;
            color: $color-txt3;
        }
    }

    .formulario-contacto{
        width: 100%;
        fieldset{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(7, auto);
            grid-template-areas:
            "nombre nombre"
            "apellido apellido"
            "telefono telefono"
            "email email"
            "asunto asunto"
            "mensaje mensaje"
            "reset submit";
            justify-items: center;
            align-items: center;
            gap: 0.8rem;

            legend{
                display: none;
            }

            div{
                label{
                    display: none;
                }
            }

            .input-contacto1{
                width: 100%;
                grid-area: nombre;
                @extend %flex1;
                .input-nombre{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }

            }

            .input-contacto2{
                width: 100%;
                grid-area: apellido;
                @extend %flex1;
                .input-apellido{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-contacto3{
                width: 100%;
                grid-area: telefono;
                @extend %flex1;
                .input-telefono{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-contacto4{
                width: 100%;
                grid-area: email;
                @extend %flex1;
                .input-email{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-contacto5{
                width: 100%;
                grid-area: asunto;
                @extend %flex1;
                .input-asunto{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-contacto6{
                width: 100%;
                grid-area: mensaje;
                @extend %flex1;
                .input-mensaje{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-contacto-reset{
                grid-area: reset;
                justify-self: end;
                .boton-contacto1{
                    @include boton-formulario-mobile;
                }
            }

            .input-contacto-submit{
                grid-area: submit;
                justify-self: start;
                .boton-contacto2{
                    @include boton-formulario-mobile;
                }
            }

        }
    }

    .sections-contacto{
        margin-top:3rem;
        margin-bottom: 3rem;
        @include flex2;
        gap: 3rem;
        @include padding-mobile;

        div{
            .h2-contacto{
                font-size: 1.1rem;
                font-family: 'Playfair Display', serif;
                color: $color-txt1;
                margin-bottom: 0rem;
            }

            div{
                .p-contacto{
                    font-size: 0.8rem;
                    font-family: 'Open Sans', sans-serif;
                    color: $color-txt2;
                    margin-bottom: 0rem;
                }

            }

        }


        .ubicacion-contacto{
            @extend %flex3;

            .icono-ubicacion{
                color: $color-txt3;
                font-size: 1.8rem;
            }

            .p-ubicacion-contacto{
                @include flex2;
                gap: 0.3rem;
            }

        }

        .horarios-contacto{
            @extend %flex3;

            .icono-horarios{
                color: $color-txt3;
                font-size: 1.8rem;
            }

            .p-horarios-contacto{
                @include flex2;
                gap: 0.3rem;
            }
        }

        .telefono-contacto{
            @extend %flex3;

            .icono-telefono{
                color: $color-txt3;
                font-size: 1.8rem;
            }
            .p-telefono-contacto{
                @include flex2;
            }

        }

        .email-contacto{
            @extend %flex3;

            .icono-email{
                color: $color-txt3;
                font-size: 1.8rem;
            }

            .p-email-contacto{
                @include flex2;
            }

        }

    }

    .mapa-contacto{
        @include flex1;
        margin-bottom: 3rem;

        iframe{
            width: 100%;
        }
    }   



}