/*estilos del main de la Seccion Reservas - version mobile*/

//imports
@import "../utilidades/extend";
@import "../utilidades/mixin";
@import "../utilidades/variables";


main{
    .subtitulos-reservas{
        text-align: center;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;

        .h2-reservas{
            font-size: 1.2rem;
            font-family: 'Playfair Display', serif;
            color: $color-txt1;
            margin-bottom: 0rem;
            padding-bottom: 0.8rem;
        }

        .p-reservas{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
            margin-bottom: 0rem;
        }
    }

    .formulario-reserva{
        width: 100%;
        fieldset{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(9, auto);
            grid-template-areas:
            "nombre nombre"
            "apellido apellido"
            "telefono telefono"
            "email email"
            "comensal comensal"
            "fecha fecha"
            "horario horario"
            "mensaje mensaje"
            "reset submit";
            justify-items: center;
            align-items: center;
            gap: 0.8rem;

            legend{
                display: none;
            }

            div{
                label{
                    display: none;
                }
            }

            .input-reserva1{
                @extend %flex1;
                grid-area: nombre;
                width: 100%;
                .nombre-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva2{
                @extend %flex1;
                grid-area: apellido;
                width: 100%;
                .apellido-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva3{
                @extend %flex1;
                grid-area: telefono;
                width: 100%;
                .telefono-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva4{
                @extend %flex1;
                grid-area: email;
                width: 100%;
                .email-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva5{
                @extend %flex1;
                grid-area: comensal;
                width: 100%;
                .comensales-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva6{
                @extend %flex1;
                grid-area: fecha;
                width: 100%;
                .fecha-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva7{
                @extend %flex1;
                grid-area: horario;
                width: 100%;
                .horario-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva8{
                @extend %flex1;
                grid-area: mensaje;
                width: 100%;
                .mensaje-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva-reset{
                grid-area: reset;
                justify-self: end;
                .boton-reserva1{
                    @include boton-formulario-mobile;
                }

            }

            .input-reserva-submit{
                grid-area: submit;
                justify-self: start;
                .boton-reserva2{
                    @include boton-formulario-mobile;
                }
            }

        }
    }

    .condiciones-reserva{
        margin-top:3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.8rem;
               
        .condicion1{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

        .condicion2{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

        .condicion3{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

        .condicion4{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

        .condicion5{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

    }

    .h2-p-reserva{
        text-align: center;
        margin-bottom: 3rem;
        border: 1px solid $color-boton;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
   
        .h2-telefono{
            font-size: 1.2rem;
            font-family: 'Playfair Display', serif;
            color: $color-txt1;
            margin-bottom: 0rem;
            padding-bottom: 0.8rem;
        }

        .p-telefono{
            font-size: 0.9rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt3;
            margin-bottom: 0rem;
            font-style: oblique;
            font-weight: 600;
        }
    }

}

