/*estilos del main de la Seccion Reservas - version mobile*/

//imports
@import "../utilidades/extend";
@import "../utilidades/mixin";


main{
    .subtitulos-reservas{
        text-align: center;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;

        .h2-reservas{
            font-size: 1.1rem;
            font-family: 'Playfair Display', serif;
            color: $color-txt1;
            margin-bottom: 0rem;
            padding-bottom: 0.8rem;
        }

        .p-reservas{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
            margin-bottom: 0rem;
        }
    }

    .formulario-reserva{
        width: 100%;
        fieldset{
            @include flex3;
            width: 100%;

            legend{
                display: none;
            }

            div{
                label{
                    display: none;
                }
            }

            .input-reserva1{
                @extend %flex1;
                width: 100%;
                .nombre-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva2{
                @extend %flex1;
                width: 100%;
                .apellido-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva3{
                @extend %flex1;
                width: 100%;
                .telefono-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva4{
                @extend %flex1;
                width: 100%;
                .email-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva5{
                @extend %flex1;
                width: 100%;
                .comensales-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva6{
                @extend %flex1;
                width: 100%;
                .fecha-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva7{
                @extend %flex1;
                width: 100%;
                .horario-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-reserva8{
                @extend %flex1;
                width: 100%;
                .mensaje-reserva{
                    width: 95%;
                    @extend %input-formulario-mobile;
                }
            }

            .input-boton-reserva{
                @extend %flex1;
                gap: 0.8rem;
                .boton-reserva1{
                    @include boton-formulario-mobile;
                }

                .boton-reserva2{
                    @include boton-formulario-mobile;
                }


            }

        }
    }

    .condiciones-reserva{
        margin-top:3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.8rem;
               
        .condicion1{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

        .condicion2{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

        .condicion3{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

        .condicion4{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

        .condicion5{
            font-size: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            color: $color-txt2;
        }

    }

    .h2-p-reserva{
        text-align: center;
        margin-bottom: 3rem;
        border: 1px solid #b47e1e;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
   
        .h2-telefono{
            font-size: 1.1rem;
            font-family: 'Playfair Display', serif;
            color: $color-txt1;
            margin-bottom: 0rem;
            padding-bottom: 0.8rem;
        }

        .p-telefono{
            font-size: 0.9rem;
            font-family: 'Open Sans', sans-serif;
            color: #b47e1e;
            margin-bottom: 0rem;
            font-style: oblique;
            font-weight: 600;
        }
    }

}

